{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="font-weight-light">Cabinet Medical - Accueil</h1>
        </div>
    </div>
{% endblock %}