{% extends 'base.html.twig' %}

{% block title %}Edit LignePrescription{% endblock %}

{% block body %}
    <h1>Edit LignePrescription</h1>

    {{ include('ligne_prescription/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ligne_prescription_index') }}">back to list</a>

    {{ include('ligne_prescription/_delete_form.html.twig') }}
{% endblock %}
