{% extends 'base.html.twig' %}

{% block title %}New LignePrescription{% endblock %}

{% block body %}
    <h1>Create new LignePrescription</h1>

    {{ include('ligne_prescription/_form.html.twig') }}

    <a href="{{ path('ligne_prescription_index') }}">back to list</a>
{% endblock %}
