{% extends 'base.html.twig' %}

{% block title %}Liste des patients{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container ">
            <h1 class="font-weight-light mb-4">Liste des patients</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Date de naissance</th>
                        <th scope="col">NUM SS</th>
                    </tr>
                </thead>
                {% for patient in patients %}
                    <tr>
                        <td>{{ patient.nom }}</td>
                        <td>{{ patient.prenom }}</td>
                        <td>{{ patient.dateNaissance|date('d/m/Y') }}</td>
                        <td>{{ patient.NumSS }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="font-weight-light">Aucun patient n'a été trouvé.</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}