{% extends 'base.html.twig' %}

{% block title %}Edit Medecin{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="font-weight-light mb-4">Edit Medecin</h1>
            
            {{ include('medecin/_form.html.twig', {'button_label': 'Update'}) }}
            
            <a class="btn btn-primary" href="{{ path('medecin_index') }}">Back to list</a>
            
            {{ include('medecin/_delete_form.html.twig') }}
        </div>
    </div>



{% endblock %}
